---
layout: responsive
lang: en
title: iOS/Android SDK
description: Here we offer our iOS and Android SDKs for SkyWay. If you use SkyWay, you can easily create WebRTC apps without having to worry about the server.
---

<!-- Top Section -->

<div class="container-fluid">
    <div class="row">
        
        <!-- Animation Side (Left/Top on Mobile, PUSHED Right on Desktop) -->
        
        <div class="col-sm-7 col-sm-push-5 top-container-right">
            <h3 class="subpage-title-mobile visible-xs">iOS/Android SDK</h3>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="animation-container-right">
                            <div class="animation-content">
                                
                                <img class="animated-logo animation-mobile" src="{{ site.homedir[page.lang] }}images/logos/logo-cloud_white.png">
                                
                                <div class="animated-transmission animation-mobile">
                                    <div class='circle-container'>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>

                                <div class="img-trap">
                                    <picture>
                                        <source
                                            media="(max-width: 500px)"
                                            srcset="{{ site.homedir[page.lang] }}images/top_images/mobile_top_small.png">
                                        <img class="img-responsive device-image" src="{{ site.homedir[page.lang] }}images/top_images/mobile_top.png" alt="Mobile Image">
                                    </picture>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <a class="hidden-xs top-btn-desktop btn-paper btn-top-section" target="_blank" href='https://skyway.io/ds/registration/'>
                Sign Up
            </a>        

        </div>
        
        <!-- Highlight Side (Right/Bottom on Mobile, PULLED Left on Desktop) -->
        
        <div class="col-sm-5 col-sm-pull-7 top-container-left">
            <h3 class="subpage-title hidden-xs">iOS/Android SDK</h3>

            <div class="row subpage-highlight">
                <div class="col-xs-1 col-xs-offset-1"><i class="fa fa-star"></i></div>
                <div class="col-xs-9 highlight-text">Cross-compatibile API makes multidevice development easy</div>
            </div>

             <div class="row subpage-highlight">
                <div class="col-xs-1 col-xs-offset-1"><i class="fa fa-star"></i></div>
                <div class="col-xs-9 highlight-text">Support for the latest OS's</div>
            </div>

            <div class="row subpage-highlight">
                <div class="col-xs-1 col-xs-offset-1"><i class="fa fa-star"></i></div>
                <div class="col-xs-9 highlight-text">Concentrate on the app, we'll take care of the server side</div>
            </div>
    
            <a class="hidden-xs top-btn-desktop btn-paper btn-top-section" href='documentation.html'>
                Documentation
            </a>
            
            <div class="top-btn-mobile visible-xs">
                <div class="col-xs-5 col-xs-offset-1">
                    <a class="btn-paper btn-top-section" target="_blank" href='https://skyway.io/ds/registration/'>
                        Sign Up
                    </a> 
                </div>
                <div class="col-xs-5">
                    <a class="btn-paper btn-top-section" href='documentation.html'>
                        Documentation
                    </a>
                </div>
            </div>

        </div>
        
    </div>
</div>



<!-- Main Page Content -->

<div class="background-blue">
    
    <div class="container">

        <div class="row main-content-row">
            <div class="col-sm-12 paper-style-div">
                <h2>Give it a try!</h2>
                <div class="divider"></div>
                
                <!-- Howto Step 1 -->
                
                <div class="row howto-step">
                    <div class="col-sm-1 col-md-2 howto-step-count">
                        <img src="{{ site.homedir[page.lang] }}images/count/1.png">
                    </div>
                    <div class="col-sm-10 col-md-8 howto-step-content">
                        <p>Register as a developer and create an API key.</p>
                        
                        <a class="btn-paper btn-howto" target="_blank" href='https://skyway.io/ds/registration/'>
                            Sign Up (Free)
                        </a> 
                        
                    </div>
                </div>
                
                <!-- Howto Step 2 -->
                
                <div class="row howto-step">
                    <div class="col-sm-1 col-md-2 howto-step-count">
                        <img src="{{ site.homedir[page.lang] }}images/count/2.png">
                    </div>
                    <div class="col-sm-10 col-md-8 howto-step-content">
                        <p>Download the relevent SDK.</p>
                        
                        <a class="btn-paper btn-howto" target="_blank" href='https://github.com/nttcom/SkyWay-iOS-SDK/releases/latest'>
                            iOS SDK
                        </a>
                        <a class="btn-paper btn-howto" target="_blank" href='https://github.com/nttcom/SkyWay-Android-SDK/releases/latest'>
                            Android SDK
                        </a> 
                        
                    </div>
                </div>
                
                <!-- Howto Step 3 -->

                <div class="row howto-step">
                    <div class="col-sm-1 col-md-2 howto-step-count">
                        <img src="{{ site.homedir[page.lang] }}images/count/3.png">
                    </div>
                    <div class="col-sm-10 col-md-8 howto-step-content">
                        <p>Let's create a SkyWay app.<br>
                        Refer to the sample code and sample app. Make sure to include the library!</p>
                        
                        
                        <h3 class="code-type-header">iOS Objective-C</h3>
                        <div class="code-section">
                            
                            <!-- Sample Code -->
                            <pre><code class="objectivec">{% include code/howto_ios.html %}</code></pre>
                            
                        </div>                      
                        
                        <a href="https://github.com/nttcom/SkyWay-iOS-Sample" target="_blank" class="sample-app-link">Sample App (iOS)</a>
                        
                        
                        <h3 class="code-type-header">Android Java</h3>
                        <div class="code-section">
                            
                            <!-- Sample Code -->
                            <pre><code class="java">{% include code/howto_android.html %}</code></pre>
                            
                        </div>
                        
                        <!-- Used to highlight the howto code sections -->
                        <!--<script>hljs.initHighlighting();</script>-->
                        
                        <a href="https://github.com/nttcom/SkyWay-Android-Sample" target="_blank" class="sample-app-link">Sample App (Android)</a>
                        
                    </div>
                </div>
                
                <!-- Howto Step 4 -->

                <div class="row howto-step">
                    <div class="col-sm-1 col-md-2 howto-step-count">
                        <img src="{{ site.homedir[page.lang] }}images/count/4.png">
                    </div>
                    <div class="col-sm-10 col-md-8 howto-step-content">
                        <p>Learn more from our development resources.</p>
                        
                        <a class="btn-paper btn-howto" href="docs/#iOS">
                            Full Guide
                        </a>
                        <a class="btn-paper btn-howto" href="support.html">
                            Support
                        </a> 

                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    {% include signup-div.html %} 
    
</div>
