---
layout: responsive
lang: jp
title: JavaScript SDK
description: SkyWayのJavaScript SDKを公開しています。SkyWayを使えば、サーバを準備することなく簡単に、WebRTCを使ったアプリが開発できます。
---

<!-- Top Section -->

<div class="container-fluid">
    <div class="row">
        
        <!-- Animation Side (Left/Top on Mobile, PUSHED Right on Desktop) -->
        
        <div class="col-sm-7 col-sm-push-5 top-container-right">
            <h3 class="subpage-title-mobile visible-xs">JavaScript SDK</h3>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="animation-container-right">
                            <div class="animation-content">

                                <img class="animated-logo animation-js" src="{{ site.homedir[page.lang] }}images/logos/logo-cloud_white.png">
                                <div class="animated-transmission animation-js">
                                    <div class='circle-container'>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="img-trap">
                                    <picture>
                                    <source
                                        media="(max-width: 500px)"
                                        srcset="{{ site.homedir[page.lang] }}images/top_images/js_top_small.png">
                                        <img class="img-responsive device-image" src="{{ site.homedir[page.lang] }}images/top_images/js_top.png">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="hidden-xs top-btn-desktop btn-paper btn-top-section" target="_blank" href='https://skyway.io/ds/registration/'>
                登録を行う
            </a>        

        </div>
        
        <!-- Highlight Side (Right/Bottom on Mobile, PULLED Left on Desktop) -->
        
        <div class="col-sm-5 col-sm-pull-7 top-container-left">
            <h3 class="subpage-title hidden-xs">JavaScript SDK</h3>

            <div class="row subpage-highlight">
                <div class="col-xs-1 col-xs-offset-1"><i class="fa fa-star"></i></div>
                <div class="col-xs-9 highlight-text">SDKによりWebRTCのAPIを<br>簡単に利用可能</div>
            </div>

             <div class="row subpage-highlight">
                <div class="col-xs-1 col-xs-offset-1"><i class="fa fa-star"></i></div>
                <div class="col-xs-9 highlight-text">クライアントサイドの開発だけでOK、<br>サーバサイドは準備不要</div>
            </div>

            <div class="row subpage-highlight">
                <div class="col-xs-1 col-xs-offset-1"><i class="fa fa-star"></i></div>
                <div class="col-xs-9 highlight-text">豊富な拡張機能(音声認識、多人数接続、画面共有など)を利用可能</div>
            </div>
    
            <a class="hidden-xs top-btn-desktop btn-paper btn-top-section" href='documentation.html'>
                ドキュメント
            </a>
            
            <div class="top-btn-mobile visible-xs">
                <div class="col-xs-5 col-xs-offset-1">
                    <a class="btn-paper btn-top-section" target="_blank" href='https://skyway.io/ds/registration/'>
                        登録を行う
                    </a> 
                </div>
                <div class="col-xs-5">
                    <a class="btn-paper btn-top-section" href='documentation.html'>
                        ドキュメント
                    </a>
                </div>
            </div>

        </div>
        
    </div>
</div>
    


<!-- Main Page Content -->

<div class="background-blue">
    
    <div class="container">

        <div class="row main-content-row">
            <div class="col-sm-12 paper-style-div">
                <h2>作ってみよう！</h2>
                <div class="divider"></div>
                
                <!-- Howto Step 1 -->
                
                <div class="row howto-step">
                    <div class="col-sm-1 col-md-2 howto-step-count">
                        <img src="{{ site.homedir[page.lang] }}images/count/1.png">
                    </div>
                    <div class="col-sm-10 col-md-8 howto-step-content">
                        <p>開発者登録を行い、APIキーを申し込みます。</p>
                        
                        <a class="btn-paper btn-howto" target="_blank" href='https://skyway.io/ds/registration/'>
                            開発者登録を行う（無料）
                        </a> 
                        
                    </div>
                </div>
                
                <!-- Howto Step 2 -->

                <div class="row howto-step">
                    <div class="col-sm-1 col-md-2 howto-step-count">
                        <img src="{{ site.homedir[page.lang] }}images/count/2.png">
                    </div>
                    <div class="col-sm-10 col-md-8 howto-step-content">
                        <p>SkyWayを利用してアプリケーションを開発しましょう。<br>
                        コードサンプルを参考にライブラリを使い、JavaScriptコードを書きましょう。</p>

                        <div class="code-section">
                            
                            <!-- Sample Code -->
                            <pre><code>{% include code/howto_js.html %}</code></pre>
                            
                            <!--<script>hljs.initHighlighting();$(".javascript").css("opacity", 0.95);</script>-->

                       </div>
                    </div>
                </div>
                
                <!-- Howto Step 3 -->

                <div class="row howto-step">
                    <div class="col-sm-1 col-md-2 howto-step-count">
                        <img src="{{ site.homedir[page.lang] }}images/count/3.png">
                    </div>
                    <div class="col-sm-10 col-md-8 howto-step-content">
                        <p>開発に必要な情報を収集しましょう。</p>
                        
                        <a class="btn-paper btn-howto" href="docs/#JS">
                            スタートガイドを見る
                        </a>
                        <a class="btn-paper btn-howto" href="support.html">
                            サポート
                        </a> 

                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    {% include signup-div.html %} 
    
</div>
