<div id="footer">

    <div id="logos-div" class="flex-box">
        <img src="../images/logos/ntt-logo-white.png" id="ntt-logo" onclick="location.href='http://www.ntt.com';">
        <img src="../images/logos/logo-full.png"  id="skyway-logo">
        <img src="../images/logos/html5-lab-logo.png" id="html5-logo" onclick="location.href='http://html5lab.ntt.com/';">
    </div>
    <div class="divider"></div>

    <div id="links-div" class="flex-box">
        <a href="http://www.ntt.com/aboutus/hp/disclaimer.html">免責事項・準拠法</a>
        <a href="http://www.ntt.com/copyright/">著作権について</a>
        <a href="プライバシーポリシー ">プライバシーポリシー</a>
        <a href="クッキーとウェブビーコンについて ">クッキーとウェブビーコンについて</a>
    </div>
    
    <p>Copyright © 2015 NTT Communications</p>
</div>
