<div class="up-button">
    <i class="fa fa-arrow-circle-up"></i>
</div>

<div class="row">
<!--    <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">-->
    <div class="col-md-4">

        <!-- Contents -->

                <div class="index">
            <h2>Contents</h2>
            <div class="index-block">    
                <h3>General Questions</h3>
                <li><a href="#q1">What is WebRTC?</a></li>
                <li><a href="#q2">What is SkyWay?</a></li>
                <li><a href="#q3">What is HTML5 Lab?</a></li>
                <li><a href="#q4">Can you give some examples of SkyWay being used?</a></li>
                <li><a href="#q5">What do I need to do to use SkyWay?</a></li>
            </div>

            <div class="index-block"> 
                <h3>Technical Aspects</h3>
                <li><a href="#q7">In what ways does WebRTC differ from existing P2P technologies?</a></li>
                <li><a href="#q8">How are you ensuring that your P2P connections are secure?</a></li>
                <li><a href="#q9">Which browsers are supported?</a></li>
                <li><a href="#q10">What communication delays are involved?</a></li>
                <li><a href="#q11">How good is the audio and video quality?</a></li>
                <li><a href="#q12">What codecs are being used? What bitrates do they offer?</a></li>
                <li><a href="#q31">What is VP8?</a></li>
                <li><a href="#q32">What is VP9?</a></li>
                <li><a href="#q13">Is H.264 not supported?</a></li>
            </div>

            <h3>Differential Elements</h3>
            <li><a href="#q17">What are the merits of using SkyWay?</a></li>
            <li><a href="#q18">Who are your competitors?</a></li>
            <li><a href="#q33">What strengths does SkyWay have over other solutions?</a></li>
            <li><a href="#q19">How do you plan to mitigate imitation due to your open sourced code?</a></li>
            <li><a href="#q20">Why did you develop SkyWay internally?</a></li>

            <h3>Business Strategy</h3>
            <li><a href="#q21">How do you plan to monetise SkyWay?</a></li>
            <li><a href="#q23">In what ways are you thinking about competiting with existing products?</a></li>
            <li><a href="#q24">Do you plan to target the the field of IoT with SkyWay?</a></li>

            <h3>Fees, SLA, Maintenance, Support</h3>
            <li><a href="#q25">Is it possible for corporations to use SkyWay, or to use it for commertial purposes?</a></li>
            <li><a href="#q26">Are the fees for using SkyWay? Can I use it royalty-free?</a></li>
            <li><a href="#q27">When do you plan to commercialise SkyWay?</a></li>
            <li><a href="#q28">How much do you plan to charge for future commericalised components of SkyWay?</a></li>
            <li><a href="#q29">Do you have SLAs?</a></li>
            <li><a href="#q30">What maintenance or support systems do you have in place?</a></li>
        </div>
    </div>

        <!-- Q&A Section -->
    <div class="col-md-8">
        <div class="content">
            <h3>General Questions</h3>
            
            <a id="q1"></a>            
            <h4>Q. What is WebRTC?</h4>
            <li>WebRTC is a technology which enables realtime P2P communication between browsers.</li>
            <li>As part of the HTML5 standard, WebRTC is currently being standardised by W3C and IETF.</li>
            <li>Until now, to perform P2P communication it was necessary to either install a specific application or plugin.</li>
            <li>P2P communication can enable direct video chat, screen sharing and file sharing functionality.</li>
            <li>Using WebRTC it is possible to perform such P2P communication using only your web browser.</li>
            <li>It is easy to communicate without having to rely on your communication partner having the correct application installed.</li>
            <li>In addition, it is possible to enable cooperation with other existing services.</li>
            <li>WebRTC is gaining attention for it's future application areas.</li>

            <a id="q2"></a>
            <h4>Q. What is SkyWay?</h4>
            <li>SkyWay is a platform directed towards application developers, enabling the easy utilisation of WebRTC technology.</li>
            <li>What are some of the merits of using SkyWay?</li>
            <li>When using WebRTC to biuld an application, additional knowledge is required beyond web application development technologies. For example, you also need knowledge about networks and servers.</li>
            <li>This might include session control, bypassing NAT, development and construction of mediation servers.</li>
            <li>SkyWay provides all these complicated background features and wraps them up in a simple API for implementation in your projects.</li>
            <li>As a result Web developers can easily develop WebRTC applications without worrying about the backend details.</li>

            <li>SkyWay was originally released in December 2013 as the first WebRTC platform in Japan.</li>
            <li>We offer APIs and development environments for application developers to develop either for Web or smartphones.</li>
            <li>We have over 2200 developers on board, with SkyWay being utilised in a variety of environments.</li>
            <li>SkyWay is opensource. Our libraries, source code, and developer documentation is publically available on GitHub.</li>

            <a id="q3"></a>
            <h4>Q. What is HTML5 Lab?</h4>
            <li>We have been developing NTT Communication's "HTML5 Lab" since July 2013.</li>
            <li>This is a project with the aim of advancing new ICT services using HTML5.</li>
            <li>We also opened Japan's first HTML5 technology site, "HTML5experts.jp" in July 2013.</li>
            <li>Through seminars and study sessions, we aim to provide enlightenment about HTML5 and support for web service developers.</li>

            <a id="q4"></a>
            <h4>Q. Can you give some examples of SkyWay being used?</h4>
            <li>A company named Mendori has added video call functionality to it's contact portal, and is using SkyWay to support the technology.</li>
            <li>A large Japanese financial institution has introduced an internal webconferencing solution using SkyWay technology.</li>
            <li>Japan's National Museum of Emerging Science and Innovation (Miraikan) has held events to showcase using Romo (an educational robot) powered by SkyWay as a solution to watch over children over long distances.</li>

            <a id="q5"></a>
            <h4>Q. What do I need to do to use SkyWay?</h4>
            <li>Before using SkyWay, you first need to register your application's API key on the <a href="https://skyway.io/ds/">SkyWay Dashboard</a></li>
            <li>When registering your API key, be careful of the following points:</li>
                <ul>
                    <li>If you are using JavaScript, make sure this matches the domain you will use for your SkyWay application.</li>
                    <li>If you are using iOS or Android, make sure the correct API key is included in your code.</li>
                </ul>

            <h3>Technical Aspects</h3>
            
            <a id="q7"></a>
            <h4>Q. In what ways does WebRTC differ from existing P2P technologies?</h4>
            <li>Until now P2P has required the installation of a native application or plugin.</li>
            <li>Using WebRTC it is possible to perform P2P communication using only the functionality of your browser.</li>
            <li>Can confidently communicate without ensuring all parties have the relevant application or endpoint hardware.</li>
            <li>It is also possible to link with other existing services easily.</li>

            <a id="q8"></a>
            <h4>Q. How are you ensuring that your P2P connections are secure?</h4>
            <li>P2P communication is always encrypted through SRTP and DTLS, so data transmission cannot be eavesdropped on by third parties.</li>

            <a id="q9"></a>
            <h4>Q. Which browsers are supported?</h4>
            <li>Chrome, Firefox and Opera are WebRTC ready.</li>
            <li>IE does not have WebRTC support, but the new Edge browser will in future support WebRTC.</li>
            <li>Safari remains unsupported, with future plans for support unknown.</li>
            <li>See http://iswebrtcreadyyet.com/</li>

            <a id="q10"></a>
            <h4>Q. What communication delays are involved?</h4>
            <li>If the network condition is good, connections on the same network will be tens of ms, over the internet will be a few hundred of ms.</li>
            <li>If network conditions are bad, delays can reach seconds.</li>
            <li>In the case of crossing NATs through a STUN (intermediary) server, the delays can be larger.</li>

            <a id="q11"></a>
            <h4>Q. How good is the audio and video quality?</h4>
            <li>Audio uses a codec named "Opus", with bitrates in the range of 6~510Kbps.</li>
            <li>The bitrate can change to suit the network conditions.</li>
            <li>Bad network conditions are on the level of a mobile phone call, good network conditions have audio quality on par with MP3 files.</li>
            <li>Recently TwitCasting has adopted Opus. They are aiming to attract musicians through the high audio quality.</li>
                <ul>
                    <li>http://japan.cnet.com/news/service/35069805/</li>
                    <li>http://japan.cnet.com/image/l/storage/35069805/storage/2015/09/02/d9e405eb3bdca786be43500936e7d37b/150902_t_01.jpg</li>
                </ul>

            <li>Video uses the VP8 codec, with a bitrates in the range of 100~2000Kbps.</li>

            <a id="q12"></a>
            <h4>Q. What codecs are being used? What bitrates do they offer?</h4>
            <li>See above.</li>

            <a id="q31"></a>
            <h4>Q. What is VP8?</h4>
            <li>VP8 is a royalty-free video codec offered by Google.</li>
            <li>Currently the H.264 standard is popular, due to it's hgih quality and compression rate.</li>
            <li>H.264 incorporates patented technologies, and it's usage can therefore require license fee payments.</li>
            <li>Google released the royalty-free VP8 codec for the browser for this reason.</li>
                <ul>
                    <li>http://gigazine.net/news/20140427-google-webm/</li>
                </ul>

            <a id="q32"></a>
            <h4>Q. What is VP9?</h4>
            <li>VP9 is the successor to VP8 with higher picture quality.</li>
            <li>With the same picture quality, the bitrate is halved in comparison to VP8.</li>
            <li>It is being developed as a more efficient alternative to rival H.264 and H.265 codecs.</li>
                <ul>
                    <li>http://gigazine.net/news/20150407-youtube-vp9/</li>
                </ul>

            <a id="q13"></a>
            <h4>Q. Is H.264 not supported?</h4>
            <li>H.264 has recently been adopted by the WebRTC standard, but is not yet supported by every browser.</li>
            <li>Currently the H.264 standard is popular, due to it's hgih quality and compression rate.</li>
            <li>H.264 incorporates patented technologies, and it's usage can therefore require license fee payments.</li>
            <li>It was adopted by WebRTC after Cisco opensourced the standard last year.</li>
            <li>But due to lack of support in all PC & mobile browsers, H.264 is not yet supported by SkyWay.</li>
                <ul>
                    <li>FireFox     ：Supported. However it is necessary to to set H.264 as preferred in the application-side settings.</li>
                    <li>Chrome      ：Expected to be supported by the end of the year.</li>
                    <li>IE/Safari   ：Some plugins offer support.</li>
                    <li>iOS/Android ：Libraries offer support.</li>
                </ul>


            <h3>Differential Elements, Competitive Advantages</h3>

            <a id="q17"></a>
            <h4>Q. What are the merits of using SkyWay?</h4>
            <li>When using WebRTC to biuld an application, additional knowledge is required beyond web application development technologies. For example, you also need knowledge about networks and servers</li>
            <li>This might include session control, bypassing NAT, development and construction of mediation servers.</li>
            <li>SkyWay provides all these complicated background features and wraps them up in a simple API for implementation in your projects.</li>
            <li>As a result Web developers can easily develop WebRTC applications without worrying about the backend details.</li>
            
            <a id="q18"></a>
            <h4>Q. Who are your competitors?</h4>
            <li>As a WebRTC service; AT&T, Tokbok, Twillio are our main competitors.</li>

            <a id="q33"></a>
            <h4>Q. What strengths does SkyWay have over other solutions?</h4>
            <li>Are strengths are:</li>
                <ul>
                  <li>We offer a Tier1 IP backbone network for network carriers and ISPs,</li>
                  <li>We own Japan's largest ISP (OCN),</li>
                  <li>We are Japan's largest telephone service operator</li>
                </ul>
            <li>Even on the global stage, our experience, track record, name recognition, technical capabilities position us as a leading network telecom operator.</li>
            <li>Even in the field of WebRTC, our experience and recognition is domestically very highly regarded.</li>

            <a id="q19"></a>
            <h4>Q. How do you plan to mitigate imitation due to your open sourced code?</h4>
            <li>Our present functionality is currently basic, and has therefore been developed opensource.</li>
            <li>We are considering adopting the tactic of privately developing future competitive features.</li>

            <a id="q20"></a>
            <h4>Q. Why did you develop SkyWay internally?</h4>
            <li>One reason is because the speed of developing internally.</li>
            <li>In the currently rapidly changing market environment, having rapid development and improvement is necessary.</li>
            <li>With outsourcing the processes of negotiating prices, RFP etc can significantly slow development speed and reduce maneuverability.</li>

            <h3>Business Strategy</h3>
            
            <a id="q21"></a>
            <h4>Q. How do you plan to monetise SkyWay?</h4>
            <li>We are currently considering this.</li>

            <a id="q23"></a>
            <h4>Q. In what ways are you thinking about competiting with existing products?</h4>
            <li>We are currently considering this.</li>

            <a id="q24"></a>
            <h4>Q. Do you plan to target the the field of IoT with SkyWay?</h4>
            <li>We are currently considering this.</li>




            <h3>Fees, SLA, Maintenance, Support</h3>

            <a id="q25"></a>
            <h4>Q. Is it possible for corporations to use SkyWay, or to use it for commertial purposes?</h4>
            <li>Yes, it is possible.</li>
            <li>However we are currently offering SkyWay as a trial service.</li>
            <li>We are currently considering the commercialisation of SkyWay, and may charge for some features in future.</li>

            <a id="q26"></a>
            <h4>Q. Are the fees for using SkyWay? Can I use it royalty-free?</h4>
            <li>SkyWay is offered royalty-free.</li>
            <li>However we are currently offering SkyWay as a trial service.</li>
            <li>We are currently considering the commercialisation of SkyWay, and may charge for some features in future.</li>

            <a id="q27"></a>
            <h4>Q. When do you plan to commercialise SkyWay?</h4>
            <li>This is currently under consideration and has yet to be decided. We cannot confirm any details about this at present.</li>
            <li>it is possible to use SkyWay in a commercial service. There are no costs for doing this.</li>

            <a id="q28"></a>
            <h4>Q. How much do you plan to charge for future commericalised components of SkyWay?</h4>
            <li>This is currently under considerationd and is undetermined.  We cannot confirm any details about this at present.</li>
            <li>Some of our competitors offer similar services for a price.</li>
            <li>However, we have not yet determined whether we will use a similar price structure.</li>

            <a id="q29"></a>
            <h4>Q. Do you have SLAs?</h4>
            <li>As SkyWay is presently a trial service, there are no SLAs presently in place.</li>
            <li>This may change when SkyWay is commercialised, but we cannot confirm any details about this at present.</li>

            <a id="q30"></a>
            <h4>Q. What maintenance or support systems do you have in place?</h4>
            <li>We correspond with support enquiries during working hours (on weekdays).</li>
            <li>This may change when SkyWay is commercialised, but we cannot confirm any details about this at present.</li>
        </div>
            
    </div>
</div>