<div class="up-button">
    <i class="fa fa-arrow-circle-up"></i>
</div>

<div class="row">
<!--    <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">-->
    <div class="col-md-4">

        <!-- Contents -->

        <div class="index">
            <h2>目次</h2>
            <div class="index-block">    
                <h3>全般</h3>
                <li><a href="#q1">WebRTCについて教えて欲しい</a></li>
                <li><a href="#q2">SkyWayについて教えて欲しい</a></li>
                <li><a href="#q3">HTML5ラボについて教えて欲しい</a></li>
                <li><a href="#q4">導入事例について教えて欲しい</a></li>
                <li><a href="#q5">利用するにはすればよいか？</a></li>
            </div>

            <div class="index-block"> 
                <h3>技術面</h3>
                <li><a href="#q7">従来のP2P技術との違いは何か？</a></li>
                <li><a href="#q8">P2Pでセキュリティをどう担保するのか？</a></li>
                <li><a href="#q9">ブラウザの対応状況は？</a></li>
                <li><a href="#q10">遅延はどのくらいか？</a></li>
                <li><a href="#q11">音質、画質はどのくらいか？</a></li>
                <li><a href="#q12">利用コーデックは？利用帯域は？</a></li>
                <li><a href="#q31">VP8とは？</a></li>
                <li><a href="#q32">VP9とは？</a></li>
                <li><a href="#q13">H264には対応していないのか？</a></li>
            </div>

            <h3>差別化要素、競合優位性</h3>
            <li><a href="#q17">SkyWayを利用するメリットは何か？</a></li>
            <li><a href="#q18">コンペティターは誰か？</a></li>
            <li><a href="#q33">競合に対する優位性、御社の強みは？</a></li>
            <li><a href="#q19">オープンソースで競合の模倣をどう防ぐつもりなのか？</a></li>
            <li><a href="#q20">SkyWayを内製で開発する理由は？</a></li>

            <h3>ビジネス戦略</h3>
            <li><a href="#q21">マネタイズはどのように行うつもりか？</a></li>
            <li><a href="#q22">有償化したら誰も使わないのではないか？</a></li>
            <li><a href="#q23">既存の商材との競合についてはどう考えているのか？</a></li>
            <li><a href="#q24">SkyWayはIoT分野でもビジネスをしていくつもりか？</a></li>

            <h3>料金、SLA、保守、サポート</h3>
            <li><a href="#q25">法人での利用、商用での利用は可能か？</a></li>
            <li><a href="#q26">料金は発生するか？無償で利用可能か？</a></li>
            <li><a href="#q27">有償化の時期はいつか？</a></li>
            <li><a href="#q28">有償化時の料金はどのぐらいになるか？</a></li>
            <li><a href="#q29">SLAは存在するか？</a></li>
            <li><a href="#q30">保守、サポート体制はどのようになっているか？</a></li>
        </div>
    </div>

        <!-- Q&A Section -->
    <div class="col-md-8">
        <div class="content">
            <h3>全般</h3>
            
            <a id="q1"></a>
            <h4>Q. WebRTCについて教えて欲しい</h4>
            <li>WebRTCは、ブラウザ間でリアルタイムなP2P通信を実現する技術です。</li>
            <li>WebRTCは、HTML5標準の一部として、W3CとIETFで標準化が進められています。</li>
            <li>従来、P2P通信を行うには、端末に専用のアプリやプラグインのインストールが必要でした。</li>
            <li>P2P通信とは、例えば、ビデオチャット、画面共有、ファイル送受信などです。</li>
            <li>WebRTCを用いると、ブラウザの内蔵機能だけで、これらのP2P通信が可能となります。</li>
            <li>そのため、通信相手の端末やアプリに依存せずにコミュニケーションできます。</li>
            <li>また、既存の他のサービスとの連携も容易となります。</li>
            <li>よって、WebRTC技術の今後の応用に注目が集まっています。</li>

            <a id="q2"></a>
            <h4>Q. SkyWayについて教えて欲しい</h4>
            <li>SkyWayは、WebRTC技術を簡単に活用できる、アプリ開発者向けのプラットフォームです。</li>
            <li>SkyWayをご利用いただくメリットについてご説明します。</li>
            <li>WebRTCを利用するには、Webアプリの開発技術以外に、NWやサーバに関する知識が必要です。</li>
            <li>例えば、セッション制御、NAT通過、仲介サーバの開発・構築技術などです。</li>
            <li>SkyWayは、これらの複雑な通信制御処理、仲介サーバ、WebAPIなどを提供します。</li>
            <li>これにより、Web開発者は、WebRTCアプリケーションをより簡単に開発できるようになります。</li>


            <li>SkyWayは、2013年12月に国内初のWebRTCプラットフォームとして公開を開始しました。</li>
            <li>アプリ開発者の方に、Webアプリやスマートフォンアプリ用の開発環境を提供しています。</li>
            <li>開発登録数は2,200を超え、様々なシーンで活用されています。</li>
            <li>SkyWayはオープンソースです。ライブラリ・ソースコード・開発者向けドキュメントをGitHub上で公開しています。</li>

            <a id="q3"></a>
            <h4>Q. HTML5ラボについて教えて欲しい</h4>
            <li>私達は、2013年7月から「NTTコミュニケーションズ HTML5ラボ」を展開しています。</li>
            <li>これは、HTML5を活用した新たなICTサービスの開発を推進するプロジェクトです。</li>
            <li>私達は、日本初のHTML5技術専門サイト「HTML5experts.jp」を2013年7月に開設しました。</li>
            <li>セミナーや勉強会などを通じ、HTML5の啓発活動とWebサービス開発者の支援を行っています。</li>

            <a id="q4"></a>
            <h4>Q. 導入事例について教えて欲しい</h4>
            <li>妻鳥通信工業様が、SkyWayを用いて、ビデオ通話による問合せ機能をWebサイトに埋め込めるサービスを開発しております。</li>
            <li>金融大手様が、SkyWayを、社内向けのWeb会議サービスにご利用されています。</li>
            <li>日本科学未来館様が、エデュケーショナルロボット「Romo」とSkyWayを組み合わせて、離れた場所から子どもを見守るイベントを開催されました。</li>

            <a id="q5"></a>
            <h4>Q. 利用するにはどうすればよいか？</h4>
            <li><a href="https://skyway.io/ds/">公式サイト</a>からAPIキーを登録すれば利用できます。</li>
            <li>APIキー登録時、「ドメイン」を指定する際は以下にご注意下さい。</li>
                <ul>
                    <li>JavaScriptを利用する場合、お客様がご用意するWebサイトのドメインと同一にする</li>
                    <li>iOS/Androidを利用する場合、ソースコード上で同一の文字列を指定する</li>
                </ul>

            <h3>技術面</h3>
            
            <a id="q7"></a>
            <h4>Q. 従来のP2P技術との違いは何か？</h4>
            <li>従来、P2P通信を行うには、端末に専用のアプリやプラグインのインストールが必要でした。</li>
            <li>WebRTCを用いると、ブラウザの内蔵機能だけで、これらのP2P通信が可能となります。</li>
            <li>そのため、通信相手の端末やアプリに依存せずにコミュニケーションできます。</li>
            <li>また、既存の他のサービスとの連携も容易となります。</li>
            
            <a id="q8"></a>
            <h4>Q. P2Pでセキュリティをどう担保するのか？</h4>
            <li>P2P通信は全てSRTP, DTLSを用いて暗号化される為、盗聴等はできません。</li>
            
            <a id="q9"></a>
            <h4>Q. ブラウザの対応状況は？</h4>
            <li>Chrome, FireFox, OperaはWebRTCに対応済みです。</li>
            <li>IEは未対応ですが、後継ブラウザであるEdgeはWebRTCに対応する予定です。</li>
            <li>Safariは未対応で、対応予定は未定です。</li>
            <li>http://iswebrtcreadyyet.com/</li>

            <a id="q10"></a>
            <h4>Q. 遅延はどのくらいか？</h4>
            <li>ネットワーク状況が良好であれば、同一WiFiネットワーク内なら数十ms程度、インターネット経由の場合、数百ms程度です。</li>
            <li>ネットワーク状況が劣悪な場合、秒単位の遅延が発生することもあります。</li>
            <li>NAT越えの為に中継サーバを経由する場合、遅延はさらに大きくなります。</li>

            <a id="q11"></a>
            <h4>Q. 音質、画質はどのくらいか？</h4>
            <li>音声はOpusというコーデックを使っており、帯域は6〜510Kbpsで可変です。</li>
            <li>ネットワークの状況に応じてアダプティブにビットレートを変更します。</li>
            <li>NW状況が悪ければ携帯電話並、NW状況が良ければMP3並の音質になります。</li>
            <li>最近、TwitCastingがopusを採用しました。高音質化でミュージシャンを取り込む狙いがあるそうです。</li>
                <ul>
                    <li>http://japan.cnet.com/news/service/35069805/</li>
                    <li>http://japan.cnet.com/image/l/storage/35069805/storage/2015/09/02/d9e405eb3bdca786be43500936e7d37b/150902_t_01.jpg</li>
                </ul>

            <li>映像はVP8というコーデックを使っており、帯域は100〜2000Kbpsで可変です。</li>

            <a id="q12"></a>
            <h4>Q. 利用コーデックは？利用帯域は？</h4>
            <li>同上</li>

            <a id="q31"></a>
            <h4>Q. VP8とは？</h4>
            <li>VP8は、Googleが提供する、ロイヤリティフリーの動画コーデックです。</li>
            <li>高品質・高圧縮率のフォーマットとして最も普及が進んでいるのはH.264(MPEG-4)です。</li>
            <li>しかし、H.264規格はメーカの特許を含む為、ライセンス料が発生するという問題がありました。</li>
            <li>そこで、Googleはウェブブラウザ向けにVP8を無償で公開しました。</li>
                <ul>
                    <li>http://gigazine.net/news/20140427-google-webm/</li>
                </ul>

            <a id="q32"></a>
            <h4>Q. VP9とは？</h4>
            <li>VP9はVP8の後継コーデックで、より高品質な映像コーデックです。</li>
            <li>VP8と比較すると、同じ画質でVP8の半分のビットレートを実現しています。</li>
            <li>ライバルであるH.264やH.265よりも効率の良いコーデックにすることを目指し開発されています。</li>
                <ul>
                    <li>http://gigazine.net/news/20150407-youtube-vp9/</li>
                </ul>

            <a id="q13"></a>
            <h4>Q. H264には対応していないのか？それはなぜか？対応状況は？</h4>
            <li>WebRTC標準に採用されたのが最近であり、各ブラウザでの対応がまだ完了していないからです。</li>
            <li>高品質・高圧縮率のフォーマットとして最も普及が進んでいるのはH.264(MPEG-4)です。</li>
            <li>しかし、H.264規格はメーカの特許を含む為、ライセンス料が発生するという問題がありました。</li>
            <li>昨年(2014年)、CiscoがH.264コーデックをオープンソース化した事で、WebRTC標準にも採用されました。</li>
            <li>しかし、まだ全てのPC・モバイルブラウザでの対応は完了していない為、SkyWayでも現状未サポートです。</li>
                <ul>
                    <li>FireFox     ：対応済み。但し、H.264を優先するようAPL側で設定が必要。</li>
                    <li>Chrome      ：年内に対応する見込み</li>
                    <li>IE/Safari   ：プラグインで対応しているものが存在</li>
                    <li>iOS/Android ：ライブラリが対応済み</li>
                </ul>


            <h3>差別化要素、競合優位性</h3>

            <a id="q17"></a>
            <h4>Q. SkyWayを利用するメリットは何か？</h4>
            <li>WebRTCを利用するには、Webアプリの開発技術以外に、NWやサーバに関する知識が必要です。</li>
            <li>例えば、セッション制御、NAT通過、仲介サーバの開発・構築技術などです。</li>
            <li>SkyWayは、これらの複雑な通信制御処理、仲介サーバ、WebAPIなどを提供します。</li>
            <li>これにより、Web開発者は、WebRTCアプリケーションをより簡単に開発できるようになります。</li>
            
            <a id="q18"></a>
            <h4>Q. コンペティターは誰か？</h4>
            <li>WebRTCサービスとしては、先行者であるAT&T、Tokbox、Twillioなどが競争相手です。</li>

            <a id="q33"></a>
            <h4>Q. 競合に対する優位性、SkyWayの強みは？</h4>
            <li>我々の強みに関しては、我々は、</li>
                <ul>
                    <li>通信キャリアやISP向けのTier1 IPバックボーンネットワークの提供者であり、</li>
                    <li>日本最大のISP(OCN)であり、</li>
                    <li>日本最大の電話サービス事業者です。</li>
                </ul>
            <li>これらの、世界でも有数のネットワーク・テレコム事業者としての経験、実績、知名度、技術力が、我々の強みです。</li>
            <li>WebRTC分野においても、国内ではトップレベルの実績と知名度を持っています。</li>

            <li>競合最大手のOpenTokと比較して、以下のメリットがあります。</li>
                <ul>
                  <li>MediaChannel（音声・映像）だけでなく、DataChannel（データ）にも対応</li>
                  <li>サーバが日本にある為、接続が高速</li>
                  <li>日本語でのサポートが可能</li>
                </ul>

            <a id="q19"></a>
            <h4>Q. オープンソースで競合の模倣をどう防ぐつもりなのか？</h4>
            <li>現在の提供機能はベーシックな物である為、オープンソースで開発を進めてきました。</li>
            <li>今後、コアコンピタンス部分で差別化する戦略を検討しています。</li>

            <a id="q20"></a>
            <h4>Q. SkyWayを内製で開発する理由は？</h4>
            <li>理由は様々あるが、開発スピードがひとつの理由です。</li>
            <li>市場環境変化が速い現在、スピーディな開発と迅速な改善の繰り返しが重要です。</li>
            <li>外注の場合、RFP、価格交渉等のプロセスが開発スピードを遅らせる恐れがあります。</li>

            
            
            <h3>ビジネス戦略</h3>
            
            <a id="q21"></a>
            <h4>Q. マネタイズはどのように行うつもりか？</h4>
            <li>検討中です。</li>

            <a id="q23"></a>
            <h4>Q. 既存の商材との競合についてはどう考えているのか？</h4>
            <li>検討中です。</li>

            <a id="q24"></a>
            <h4>Q. SkyWayはIoT分野でもビジネスをしていくつもりか？</h4>
            <li>検討中です。</li>




            <h3>料金、SLA、保守、サポート</h3>

            <a id="q25"></a>
            <h4>Q. 法人での利用、商用での利用は可能か？</h4>
            <li>はい、可能です。</li>
            <li>しかし、SkyWayは現在トライアルサービスという位置付けで提供しています。</li>
            <li>商用化については現在検討中で、一部の機能は有償化する可能性があります。</li>

            <a id="q26"></a>
            <h4>Q. 料金は発生するか？無償で利用可能か？</h4>
            <li>無償でご利用頂けます。</li>
            <li>しかし、SkyWayは現在トライアルサービスという位置付けで提供しています。</li>
            <li>商用化については現在検討中で、一部の機能は有償化する可能性があります。</li>

            <a id="q27"></a>
            <h4>Q. 有償化の時期はいつか？</h4>
            <li>未定です。現在検討中です。お伝えできる確定情報はございません。</li>
            <li>商用サービスにSkyWayをご利用頂く事は可能です。無償でご利用頂けます。</li>

            <a id="q28"></a>
            <h4>Q. 有償化時の料金はどのぐらいになるか？</h4>
            <li>未定です。現在検討中です。現時点でお伝えできる確定情報はございません。</li>
            <li>競合他社の同種のサービスで有償提供されているものがあります。</li>
            <li>しかし、同じ料金体系になるかは不明です。</li>

            <a id="q29"></a>
            <h4>Q. SLAは存在するか？</h4>
            <li>トライアルサービスのため、 SLAは存在しません。</li>
            <li>商用化時には変更になる可能性がありますが、現時点でお伝えできる確定情報はございません。</li>

            <a id="q30"></a>
            <h4>Q. 保守、サポート体制はどのようになっているか？</h4>
            <li>平日日勤帯での対応となります。</li>
            <li>商用化時には変更になる可能性がありますが、現時点でお伝えできる確定情報はございません。</li>
        </div>
            
    </div>
</div>