<paper-toolbar id="custom-toolbar">
    <div id="toolbar-inner">

        <paper-button id="logoButton"  onclick="location.href='./';">
            <img src="{{ site.homedir[page.lang] }}images/logos/logo-full.png" onclick="location.href='https://skyway.io/ds/';"/>
        </paper-button>

        <div id="button-div">
            <paper-button id="loginButton" raised class="colorful" onclick="location.href='https://skyway.io/ds/';">Login</paper-button>
            {% case page.lang %}
            {% when 'jp' %}
            <paper-button id="langButton" class="red" onclick="location.href='en/';">English</paper-button>
            {% when 'en' %}
            <paper-button id="langButton" class="red" onclick="location.href='../';">日本語</paper-button>
            {% else %}
            {% endcase %}
        </div>

        <div id="tabBar-div" class="flex-box">
            {% case page.lang %}
            {% when 'jp' %}
            <button onclick="location.href='info-js.html';">JavaScript</button>
            <button onclick="location.href='info-mobile.html';">iOS/Android</button>
            <button onclick="location.href='documentation.html';">ドキュメント</button>
            <button onclick="location.href='support.html';">サポート</button>
            <button onclick="location.href='features.html';">すべてのサービス</button>
            {% when 'en' %}
            <button onclick="location.href='info-js.html';">JavaScript</button>
            <button onclick="location.href='info-mobile.html';">iOS/Android</button>
            <button onclick="location.href='documentation.html';">Documentation</button>
            <button onclick="location.href='support.html';">Support</button>
            <button onclick="location.href='features.html';">Features</button>
            {% else %}
            {% endcase %}
        </div>
    </div>
</paper-toolbar>
