<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a id="logoButton" href='./index.html'>
            <img src="{{ site.homedir[page.lang] }}images/logos/logo-full.png"/>
        </a>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-tabs navbar-tabs-centered">
            <li><a href='info-js.html'>JavaScript</a></li>
            <li><a href='info-mobile.html'>iOS/Android</a></li>
            <li><a href='features.html'>すべての機能</a></li>
            <li><a href='documentation.html'>ドキュメント</a></li>
            <li><a href='support.html'>サポート</a></li>
        </ul>
        <ul class="nav navbar-nav  navbar-buttons">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">日本語<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">日本語</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </li>
            <li>
                <a href='https://skyway.io/ds/' target="_blank" class="btn-link">
                    <button class="btn-ink btn-login">ログイン</button>
                </a>
            </li>
        </ul>
    </div>
</nav>