---
layout: responsive
---

{% assign new_url = site.new_url[page.lang] | append: page.new_url %}
{% assign migration_url = new_url | append: '?origin=skyway' %}

<meta http-equiv="refresh" content="10; URL={{ migration_url }}">

<!-- Top Section -->

<div class="top-section-short">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>移転しました</h1>
            </div>
        </div>
    </div>
</div>

<!-- Main Page Content -->

<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="support-div">
                    <h2>このページは <a href="{{ migration_url }}">{{ new_url }}</a> に移転しました</h2>
                    <a class="btn-paper btn-inverted btn-center" href="{{ migration_url }}">
                        移動する
                    </a>
                    <script>
                        if (location.search !== '?noredirect' ) {
                            setTimeout(function() {
                                location.href = '{{ migration_url }}';
                            }, 100);
                        }
                    </script>
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>
